.experiencia {
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: var(--gray-2);
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--gray-12);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: var(--gray-2);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(
      180deg,
      rgba(var(--gradient-0), 1) 0%,
      rgba(var(--gradient-1), 1) 100%
    )
    no-repeat;
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -80px;
  width: 60px;
  text-align: right;
  color: var(--gray-9);
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 400;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-12);
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  font-style: bold;

  color: var(--black-16);
  font-family: "Nunito Sans", sans-serif;

  border-radius: 4px;
  background: var(--pure-white);
  padding: 5px 10px;
}

@media (max-width: 1080px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: var(--gray-12);
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
