* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 6ch;
  word-break: break-all;
}

@media (max-width: 1080px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}
