.introducao {
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 41px;
  height: 34px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -5px;
  left: -10px;
  z-index: -1;
}

.introducao p {
  margin-top: 40px;
  font-size: 1.5rem;
  color: var(--gray-9);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    top: -10px;
    left: -20px;
  }
}

@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
  .introducao h1 {
    font-size: 2.5rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 24px;
    border-radius: 7px;
    top: -5px;
    left: -10px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introducao img {
    display: none;
  }
  .introducao p {
    margin-top: 20px;
    font-size: 1rem;
  }
}
